<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Logs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('wss://' + document.domain + ':' + location.port);

        socket.on('log', function(msg) {
            console.log(msg.data);
            document.getElementById('log').innerHTML += '<br>' + msg.data;
        });

        function triggerJob() {
            socket.emit('trigger_job');
        }
    </script>
</head>
<body>
    <button onclick="triggerJob()">Trigger Job</button>
    <div id="log"></div>
</body>
</html>
